ccxt~=1.40.31
docopt~=0.6.2
python-dateutil~=2.8.1
plotly~=4.14.1
pandas~=1.2.0
setuptools~=51.1.2
numpy~=1.19.5
requests~=2.25.1
chardet~=3.0.4
python-dotenv~=0.15.0
websocket-client~=0.57.0
pyTelegramBotAPI~=3.7.5
coverage~=5.3.1
websockets~=8.1